<!DOCTYPE html>
<html lang="en-au">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>Paint and Play</title>
  <link rel="stylesheet" href="css/site.css">
</head>
<body class="friendly">
  {{ content }}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34408854-2"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-34408854-2');
  </script>
</body>
</html>
